# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Other
PORT=3000

# Spotify
EXPO_PUBLIC_SPOTIFY_CLIENT_ID=4a9f8400a01545008b0addcfa7a6b9c3
EXPO_PUBLIC_SPOTIFY_SCHEME=nidush
